<!doctype html>
<html>
<body>
	<h1>Downloadr</h1>
	<p>Download as much data as possible!</p>

	<ul id="users">
	</ul>

</body>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script>
		function sleep(ms) {
			return new Promise(resolve => setTimeout(resolve, ms));
		}
		async function run(){
			document.write('hi');
			for (var i = 0; i < 20; i++) {
				await sleep(2000);
				$.get('/_downloads', function(data){
					for (var j = 0; j < data.length; j++) {
						console.log(data[j]);
						var html = `<div><li><h2>${data[j].user}, Downloaded file #${data[j].downloads}, Total size: ${data[j].dirSize} bytes</h2></li><div>`;
						$('#users').prepend(html);
						$('#users:first-child').css('background-color', 'red');
					}
				})
			}
		}
		run()		
	</script>
</html> 
