<!doctype html>
<html>
<body>
	<title>Hello from Flask</title>
	{% if users %}
	  <h1>Hello there!</h1>
	  <h2>Username | Number of dowloads</h2>
	  <ul>
	  {% for u in users %}
	  	<li><h2>{{ u['user'] }} -- {{u['downloads']}}</h2></li>
	  {% endfor %}
	  	
	  </ul>
	{% else %}
	  <h1>Sorry.</h1>
	{% endif %}
	<ul id="list">
	</ul>
</body>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script>
		$(function() {
			$('a#reload').bind('click', function() {
				$.get('/_downloads', function(data){
					$("#list").append("<li>"+data.user + " " + data.downloads + "</li>");
					console.log(data.user);
				}, "json" )
			})	
		})
		
	</script>
	<p><a href=# id=reload>refresh downloads</a>
	<script type="text/javascript" src="/templates/static/js/jquery-3.5.1.min.js"></script>
	<script type="text/javascript" src="/static/js/app.js"></script>
</html>